{% extends "_layout.html" %}

{% block content %}
{% for file in files %}
    <a data-fslightbox href="{{ url_for('bepasty.inline', name=file['id']) }}" class="mb-3 is-block">
        <img src="{{ url_for('bepasty.inline', name=file['id']) }}" alt="{{ file['filename'] }}">
    </a>
{% endfor %}
{% endblock content %}


{% block extra_link %}
<style>
/* Carousel sizing and background behavior */
a[data-fslightbox] > img {
    max-height: 80vh;
    min-height: 200px;
    min-width: 200px;
}
</style>

{% endblock %}

{% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/fslightbox@3.7.5/index.min.js"></script>
<script>
const data = {{ files | tojson }};
const bp = BiggerPicture({
  target: document.getElementById("gallery")
});
bp.open({
  items: data.map(d => ({ img: d.url, alt: d.filename })),
  inline: true,
  scale: 1,
  intro: "fadeup",
  noClose: true
});
</script>
{% endblock %}
