{% extends "_layout.html" %}

{%- import '_utils.html' as utils -%}

{% set page_title = item.meta['filename'] or name %}

{% block content %}
<div class="card">
    <div class="card-header is-flex-direction-column">
        <h1 class="card-header-title is-size-4">
            {{ item.meta['filename'] }}
        </h1>
        <div class="card-header-icon field has-addons pt-0">
            {% if not item.meta['locked'] or may(ADMIN) %}
                {% if is_list_item %}
                <p class="control">
                    <a id="carousel-btn" href="{{ url_for('bepasty.carousel', name=name) }}" class="button is-info">
                        <span class="icon">
                            <i class="fas fa-play-circle"></i>
                        </span>
                        <span>Carousel</span>
                    </a>
                </p>
                {% endif %}
                <p class="control">
                    <a id="qr-btn" href="{{ url_for('bepasty.qr', name=name) }}" class="button is-info">
                        <span class="icon"><i class="fas fa-qrcode"></i></span> <span>QR</span>
                    </a>
                </p>
                <p class="control">
                    <a id="download-btn" href="{{ url_for('bepasty.download', name=name) }}" class="button is-info" role="button">
                        <span class="icon"><i class="fas fa-download"></i></span> <span>Download</span>
                    </a>
                </p>
                <p class="control">
                    <a id="inline-btn" href="{{ url_for('bepasty.inline', name=name) }}" class="button is-info" role="button">
                        <span class="icon"><i class="fas fa-asterisk"></i></span> <span>Inline</span>
                    </a>
                </p>
            {% endif %}
            {% if may(MODIFY) %}
                <p class="control">
                    <button type="button" class="button is-info js-modal-trigger" data-target="modify-modal">
                        <span class="icon"><i class="fas fa-edit"></i></span> <span>Modify</span>
                    </button>
                </p>
            {% endif %}
            {% if may(DELETE) %}
                <form id="del-frm" action="{{ url_for('bepasty.delete', name=name) }}" method="post" class="control">
                    <input type="hidden" name="next" value="{{ url_for('bepasty.index') }}">
                    <button id="del-btn" type="button" class="button is-danger">
                        <span class="icon"><i class="fas fa-times"></i></span> <span>Delete</span>
                    </button>
                </form>
            {% endif %}
            {% if may(ADMIN) %}
            {% if not item.meta['locked'] %}
                <form id="lock-frm" action="{{ url_for('bepasty.lock', name=name) }}" method="post" class="control">
                    <button id="lock-btn" type="submit" class="button is-danger">
                        <span class="icon"><i class="fas fa-lock"></i></span> <span>Lock</span>
                    </button>
                </form>
            {% else %}
                <form id="unlock-frm" action="{{ url_for('bepasty.unlock', name=name) }}" method="post" class="control">
                    <button id="unlock-btn" type="submit" class="button is-info">
                        <span class="icon"><i class="fas fa-unlock"></i></span> <span>Unlock</span>
                    </button>
                </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="card-content">
        <p class="mb-3 has-text-deemph is-text-6-5">
        Type: {{ item.meta['type'] }},
        Size: {{ item.meta['size'] }} bytes,
        SHA256: <code>{{ item.meta['hash'] }}</code>.
        <br/>
        UTC timestamps:
        upload: {{ item.meta['timestamp-upload'] | datetime }},
        download: {{ item.meta['timestamp-download'] | datetime }},
        {% if item.meta['timestamp-max-life'] > 0 %}
        max lifetime: {{ item.meta['timestamp-max-life'] | datetime }}.
        {% else %}
        max lifetime: forever.
        {% endif %}
        </p>
        <div class="data">
            {{ rendered_content }}
        </div>
    </div>
</div>

{% if may(MODIFY) %}
<div id="modify-modal" class="modal">
    <div class="modal-background"></div>
    <form class="modal-card" id="modify-frm" action="{{ url_for('bepasty.modify', name=name) }}" method="post">
        <header class="modal-card-head">
            <p class="modal-card-title">Modify metadata</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label for="filename" class="label">Filename</label>
                <div class="control">
                    {{ utils.input_filename(item.meta['filename']) }}
                </div>
            </div>
            <div class="field">
                <label for="contenttype" class="label">Type</label>
                <div class="control">
                    {{ utils.input_contenttype(contenttypes, item.meta['type']) }}
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="submit" class="button is-primary">Submit</button>
        </footer>
    </form>
</div>
{% endif %}

{% endblock content %}

{% block extra_link %}
<!-- Pygments styles -->
<link rel="stylesheet" href="{{ url_for('bepasty.xstatic', name='pygments', filename='css/colorful.css') }}" type="text/css">
<!-- asciinema styles -->
<link rel="stylesheet" href="{{ url_for('bepasty.xstatic', name='asciinema_player', filename='asciinema-player.css') }}" type="text/css">
{% endblock %}

{% block extra_script %}
<script src="{{ url_for('bepasty.xstatic', name='bootbox', filename='bootbox.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('bepasty.xstatic', name='asciinema_player', filename='asciinema-player.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app/js/utils.js') }}" type="text/javascript"></script>
{% endblock extra_script %}
