{% extends "_layout.html" %}

{%- import '_utils.html' as utils %}

{% macro maximum_lifetime() -%}
{% set default_maxlife_value = config.DEFAULT_MAXLIFE_VALUE or 1 %}
{% set default_maxlife_unit = (config.DEFAULT_MAXLIFE_UNIT or 'MONTHS')|lower %}
<div class="field has-addons">
    <p class="control is-expanded">
        <input class="input" name="maxlife-value" type="number" min="1" value="{{ default_maxlife_value }}" /><br>
    </p>
    <p class="control">
        <span class="select">
            <select name="maxlife-unit" size="1">
                <option value="months" {{ 'selected' if default_maxlife_unit == 'months' else '' }}>Months</option>
                <option value="weeks" {{ 'selected' if default_maxlife_unit == 'weeks' else '' }}>Weeks</option>
                <option value="days" {{ 'selected' if default_maxlife_unit == 'days' else '' }}>Days</option>
                <option value="hours" {{ 'selected' if default_maxlife_unit == 'hours' else '' }}>Hours</option>
                <option value="minutes" {{ 'selected' if default_maxlife_unit == 'minutes' else '' }}>Minutes</option>
                <option value="years" {{ 'selected' if default_maxlife_unit == 'years' else '' }}>Years</option>
                <option value="forever" {{ 'selected' if default_maxlife_unit == 'forever' else '' }}>Keep Forever</option>
            </select>
        </span>
    </p>
</div>
{% endmacro %}

{% block content %}
{% if may(CREATE) %}
<div class="columns">
    <div class="column is-8">
        <form action="{{ url_for('bepasty.upload') }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <textarea class="textarea" id="formupload" name="text" placeholder="Paste text here..." autofocus></textarea>
            </div>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    {{ utils.input_contenttype(contenttypes) }}
                </p>
                <p class="control is-expanded">
                    {{ utils.input_filename() }}
                </p>
                <p class="control">
                    <button id="formupload-submit" class="button is-primary">Submit</button>
                </p>
            </div>
            <hr>
            <div class="field">
                <label class="label">Maximum lifetime value (choose before dragging or submitting)</label>
                <div class="field-body">
                    {{ maximum_lifetime() }}
                </div>
            </div>
            <input type="file" id="filepond" multiple />
            <noscript><br><button id="fileupload-submit" class="button is-success">Upload</button></noscript>
        </form>
    </div>
    <div class="column is-4">
        <!-- item name list assembled here and offered for submission -->
        <form id="filelist-form" style="display: none" action="{{ url_for('bepasty.upload') }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <textarea class="textarea" id="filelist" name="text" rows="10" cols="40"></textarea>
            </div>
            {{ maximum_lifetime() }}
            <input type="hidden" name="contenttype" value="text/x-bepasty-list">
            <div class="field has-addons">
                <p class="control is-expanded">
                    <input class="input" type="text" id="filelist-filename" name="filename" size="23" placeholder="optional list-name">
                </p>
                <p class="control">
                    <button class="button is-success">Create List</button>
                </p>
            </div>
        </form>
        <!-- Uploaded files -->
        <div id="files" class="files"></div>
    </div>
</div>

{% else %}
<section class="section">
    <h1 class="title">bepasty</h1>
    <h2 class="subtitle">the binary file upload site</h2>
</section>
<div class="jumbotron">
    <div class="columns">
        <div class="column">
            <span class="icon is-large"><i class="far fa-2x fa-thumbs-up"></i></span>
            <h2>Free and Nice</h2>
            <p>
                A pastebin for <em>all</em> the stuff,<br>
                not just for text.
            </p>
        </div>
        <div class="column">
            <span class="icon is-large"><i class="fas fa-2x fa-eye"></i></span>
            <h2>Free and Open Source</h2>
            <p>
                Bepasty is free and open source software.<br>
                <a href="https://github.com/bepasty/">Bepasty project on GitHub</a>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block extra_link %}
{% if may(CREATE) %}
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
{% endif %}
{% endblock %}

{% block extra_script %}
{% if may(CREATE) %}
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<!-- fileuploader -->
<script type="application/javascript">
    MAX_ALLOWED_FILE_SIZE = {{ config.MAX_ALLOWED_FILE_SIZE }};
    MAX_BODY_SIZE = {{ config.MAX_BODY_SIZE }};
    UPLOAD_NEW_URL = "{{ url_for('bepasty.upload_new') }}";
</script>
<script src="{{ url_for('static', filename='app/js/fileuploader.js') }}" type="text/javascript"></script>
{% endif %}
{% endblock %}
